
html, body{
  margin: 0; /* Stripping out margin and padding so .bg can be full width*/
  padding: 0;
  width: 100%;  /*Setting parent width -- child width is relative*/
  height: 100%; /*Setting parent height -- child height is relative*/
}


.header-img {
  width: 1519.2px;
  height: 1115px;
  background-image: url('Home Top Art.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin:0px;

}
header {
	 /*ont-family: *//*"Bebas Neue script=latin rev=1"; font-weight: 400; font-style: normal;" Futura, Trebuchet MS;*/
	 font-family: 'BebasNeueRegular';



	 font-weight: bold condensed;
	 /*color: #FF0000;*/ 
	 font-size: 25px;
	 /*padding:3px;*/
	 /*background-color:#666666;*/
	 text-align:center;

}
h1 {
	 font-family: Futura, Trebuchet MS;
	 font-weight: bold;
	 
	 font-size: 22px;
	 /*padding:5px;*/
	 text-align:center;

}
h3 {
	 font-family: Futura, Trebuchet MS;
	 font-weight: bold;
	 color:white;
	 font-size: 22px;
	 /*padding:5px;*/
	 text-align:center;

}
h2 {
	 font-family: Futura, Trebuchet MS;
	 font-weight: bold;
	 color:#7a7a7a;
	 font-size: 20px;
	 /*padding:5px;*/
	 text-align:center;

}
body {
	height:100%;
	 font-family: Futura, Trebuchet MS;
	 font-weight: bold condensed;
	 color: #000000; 
	 font-size: 15px;
	 
	 text-align: center;
	 /*padding:20px;*/
	 /*background-color:#CCFFCC;*/
}
footer {
	font-family: Futura, Trebuchet MS;
	 font-weight: bold;
	 color: #000000; 
	 font-size: 12px;
	 /*padding:10px;
	 margin-top: 40px;*/
}
p{
	/*margin-left: 150px;
	margin-right:150px;*/
}
#content {
    /*padding:3px;*/

}
#WPI{
    /*center the image*/
    display: block; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#main_nav ul {
	list-style: none;
	padding: 0;
	margin: 10px;
	font-weight: bold;
}
 
#main_nav ul li {
	background-color: #fff;
	border: 1px solid #999;
	color: #222;
	display: block;
	margin-bottom: -1px;
	padding: 12px 10px;
}
 
#main_nav ul li a{
	text-decoration: none;
  }
  
/* add traditional rounded corners to the navigation menu*/

#main_nav li:first-child{
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
 
#main_nav li:last-child{
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
nav li:active {
  background-color: #ccc;
  background-image: none;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
} 



.topnav {
  /*background-color: #333;*/
  overflow: hidden;
  /*width:100%;*/
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  *display: inline; /* IE7 */
  /*float: left;*/
  color: #000000;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 24px;
  font-family: 'BebasNeueRegular';
  /*width: 200px;*/
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */

.topnav a.active {
  text-decoration:underline;
}


body,html, .hero-image{
	height: 450px;
	width:1519.2px;
	background-image: url('Exhibit Footer.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	/*
	<img src = "Exhibit footer.jpg"
           alt = "HISTORY OF 3D GAMES EXHIBIT" />*/
}

.hero-text {
	display: inline-block;
  *display: inline; 
  text-align: top;
  /*position: absolute;*/
  top: 30%;
  left: 50%;
 
  /*transform: translate(-50%, -50%);*/
  color: white;
}

.bottomnav a{
  /*background-color: #333;*/
  overflow: hidden;
  color:#a3a3a3;
   text-decoration: none;
  /*width:100%;*/
}
.bottomnav a:hover {
  background-color: #ddd;
  color: black;
}

.mainImg{
	text-align: center;
	display:block;
	margin: 10px auto 20px;
}